@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}
header{
    display: flex;
    padding: 10px;
    background-color: gray;
    color: white;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1{
    flex: 0 0 200px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.652);
}
header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > nav > a{
    padding: 10px;
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
}
main{
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0px #00000061;
}
main > p{
    text-align: justify;
}
