@charset "UTF-8";
html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none
}
img{
    height: 100%;
    width: 100%;
}
div{
    background-color: darkred;
    padding: 10px;
}
p{
    text-align: center;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
div:hover{
    background-color: red;
}