@charset "UTF-8";
    /* Telas menores */
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-family:Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
    h1{
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 14px;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline;
    }