@charset "UTF-8";
div.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}
div.caixa1{
    background-color: rgb(120, 137, 251);

    /* 
    grid-row-start: 1;
    grid-row-end: 2; 
    */
    /* grid-row: 1; */
    grid-row: 1 / 2;

    /* 
    grid-column-start: 1;
    grid-column-end: 5; 
    */
    /* grid-column: 1 / span 4; */
    grid-column: 1 / 5;
}
div.caixa2{
    background-color: rgb(244, 153, 35);

    /* 
    grid-row-start: 2;
    grid-row-end: 4; 
    */
    /* grid-row: 2 / span 2; */
    grid-row: 2 / 4;

    /* 
    grid-column-start: 1;
    grid-column-end: 3; 
    */
    /* grid-column: 1 / span 3; */
    grid-column: 1 / 3;
}
div.caixa3{
    background-color: rgb(226, 43, 162);

    /* 
    grid-row-start: 2;
    grid-row-end: 4; 
    */
    grid-row: 2 / 4;


    /* 
    grid-column-start: 3;
    grid-column-end: 5; 
    */
    grid-column: 3 / 5;
}