@charset "UTF-8";
div.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}
div.caixa1{
    background-color: rgb(57, 163, 87);

    /* grid-row-start: 1;
    grid-row-end: 2;  
    
    grid-column-start: 1;
    grid-column-end: 5; */
    
    grid-area: 1 / 1 / 2 / 5;

}
div.caixa2{
    background-color: rgb(98, 132, 162);

    /* grid-row-start: 2;
    grid-row-end: 4; 

    grid-column-start: 1;
    grid-column-end: 3;  */
    grid-area: 2 / 1 / 4 / 3;

}
div.caixa3{
    background-color: rgb(249, 80, 117);

    /* grid-row-start: 2;
    grid-row-end: 4; 

    grid-column-start: 3;
    grid-column-end: 5;  */
    grid-area: 2 / 3 / 4 / 5;

}